
:root {
  --primary: rgb(62, 246, 222);
  --secondary: rgb(44,59,76);
  --tertiary: rgb(22,128,119);
  --quaternary: rgb(44,59,76);
  --quinternary: rgba(198,240,252,255); 
  --cloth: rgba(72,52,64,255);
  --skin: rgba(246,224,200,255);
}

html {
  margin: 0%;
  padding: 0%;
  background-color: var(--secondary);
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}

body {
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
}

mark {
  color: var(--primary);
  background: none;
}

.section-title {
  color: var(--primary);
  padding: 5%;
}

.widget-border {
  border: var(--quinternary) 1px;
  border-style: groove;
  border-radius: 2%
}

.navbar {
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  z-index: 2;
}


.nav-item {
  margin-right: 3%;
  list-style: square;
  text-decoration: none;
  cursor: pointer;
}


.body {
  position: relative;
  top: 3rem;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 22% 22% 22% 22% 2%;
  grid-template-areas: 
  'left hero right'
  'left about right'
  'left projects right'
  'left contact right'
  'left footer right'
  ;
}

.hero {
  height: 95vh;
  grid-area: hero;
  background-color: var(--secondary);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 33% 20% 17% 30%;
  grid-template-areas: 
  '. . pic'
  '. title pic'
  '. paragraph .'
  ;
}

.herotitle {
  grid-area: title;
  color: white;
  font-size: 3rem;
}


.heroparagraph {
  grid-area: paragraph;
  color: white;
  font-size: 1rem;
  font-weight: 1;
  padding-bottom: 10%;
}

.profilePic {
  align-self: center;
  max-width: 25%;
  max-height: 25%;
  border-radius: 25% 25%;
  margin-top: 10%;
  box-shadow:  1px 6px rgba(13, 13, 13, 0.07);
  outline: white 1px solid;
}

.tech-list {
  color: white;
  padding: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
}

.about-wrapper {
  grid-area: about;
}

.about {
  background-color: var(--secondary);
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.about-paragraph {
  margin-bottom: 5%;
  color: white;
  padding: 5%;
}


.project-wrapper {
  grid-area: projects;
  color: white;
}

.projects {
  display: grid;
  grid-template-columns: 30% 5% 30% 5% 30%;
  height: 100%;
  width: 100%;
  grid-template-areas: 
  'project1 space1 project2 space2 project3'
  ;
}

.projects:nth-child(0){
  grid-area: project1;
}

.projects:nth-child(1){
  grid-area: space1;
}

.projects:nth-child(2){
  grid-area: project2;
}

.projects:nth-child(4){
  grid-area: project3;
}

.project-buttons {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.link-button-site {
  border: none;
  grid-area: button1;
}

.link-button-git {
  background-color: white;
  border: none;
  grid-area: button2;
}

.btn {
  background-color: white;
  border: none
}

.project {
  font-size: small;
  background-color: var(--secondary);
  height: fit-content;
  width: fit-content;
  padding: 10%;
  height: 60%;
  width: 75%;
  padding-bottom: 2%;
}

.contact-wrapper {
  grid-area: contact;
}

.contact {
  background-color: var(--secondary);
}

.footer-wrapper {
  grid-area: footer;
}

.footer {
  background-color: var(--secondary);
  text-align: center;
  color: black;
}

.left-side-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100vh;
  margin-left: 3%;
}

.right-side-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100vh;
  margin-left: 94%;
}

.left-side-list {
  display: flex;
  flex-direction: column;
}

.tech-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
  outline: 1px white solid;
  margin-bottom: 10%;
  padding-bottom: 0%;
  border-radius: 6px 6px 6px 6px;
}

.li-tech:hover{
  color: var(--quinternary);
}


.li-git{
  cursor: pointer;
  padding: 75%;
}

.li-link{
  cursor: pointer;
  padding: 75%;
}

.li-itch{
  cursor: pointer;
  padding: 75%;
}
/* Utility Classes */

.vl {
  border-left: 1px solid rgba(255, 255, 255, 0.341);
  height: 15%;
  align-self: center;
}

.hl {
  border-top: 1px solid rgba(255, 255, 255, 0.341);
  width: 15%;
  align-self: center;
}

.hl-t {
  border-top: 1px solid rgba(255, 255, 255, 0.341);
  width: 75%;
  align-self: center;
}


.para-wrapper {
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
}
